<!DOCTYPE html>
<html>
<head>
    <title>Movie Review classifier</title>
</head>
<style>
    body{
        text-align: center;
    }
    button{
        background-color: blue;
        color: aliceblue;
    }

</style>
<body>
    <h1>Movie Review Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="content" placeholder="Enter Your Review" rows="10" cols="35">{{review_text}}</textarea>
        <div>
            <button> Check Review</button>
            <a href="/">Reset</a>
        </div>
        
    </form>
    {% if prediction == 1 %}
        <h2 style="color: green;">Positive Review</h2>
    {% elif prediction == 0 %}
        <h2 style="color: red;">Negative Review</h2>
    {% endif %}
</body>
</html>
